.header{
    background: #9c9cda
}

.box{
    position: relative;
    left: 850px;
    top: -70px;    
    width: 200px;
   
}
.box a{
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.loguito img{
    height: 120px;
    margin: 5px;
    position: relative;
    border-radius: 100px;
    left: 200px;
    top: 38px;
}

