:host{
    border: 0.5px solid blueviolet;
    margin: 2px;
    display: block;
}

img {
    max-width: 100%;
}

a { 
    position: relative;
    text-decoration: none;
    font-size: 17px;
    right: 0px;
    color: blueviolet;
    font-family: cursive;
}